

    @media (min-width:768px) and (max-width:991px){
        
        body{
            background-color:red;
            
        }

        .container{
            height: 100%;
        }

       .price1{
           position: relative;
           left:65px ;
           bottom: 30px;
       }

      .price2{
          position: relative;
          left: 110px;
          bottom: 30px;
      }
       
      
        
        
     
        div.price3{
            background: gray;
            border: 3px solid black;
            margin-top: 20px;
            margin-bottom: 30px;
            height: 150px;
            width: 50%;
            margin-left: 20px;
            position: relative;
            top: 150px;
            right: 180%;
        
        
        }
        
        
        .wrapper .price3{
            width: 642px;
        }
        div .box3{
            margin-left: 20%;
        }

        
    }
    
    @media (max-width:767px){
        body{
            background-color: red;
        }

        .wrapper .price1{
            position: relative;
            left:50px;
            bottom: 30px;
            width: 400px; 
        }

        .wrapper .price2{
            
            position: relative;
           left:10%;
            top: 70%;
            width: 400px; 
        }

        .wrapper .price3{
            
            position: relative;
            left:50px;
            top: 160%;
            width: 400px; 
        }

        footer{

            position: relative;
            top: 160%;

        }

     


    }
    
